<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="gr.cpaleop.authentication">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_authentication">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application android:name="gr.cpaleop.teithe_apps.AppsApplication">
        <activity
            android:name=".presentation.AuthenticationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Itteitheapps">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="appsservice" />
            </intent-filter>
        </activity>
    </application>
</manifest>