<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="gr.cpaleop.dashboard">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_dashboard">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:name="gr.cpaleop.teithe_apps.AppsApplication">

        <activity
            android:name=".presentation.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Itteitheapps" />

        <activity
            android:name=".presentation.profile.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Itteitheapps" />
    </application>
</manifest>